@font-face {
    font-family:LetoSans-Thin;
    src: url(fonts/LetoSans-Thin.ttf);
}
@font-face {
    font-family:Myriad-Pro-reg;
    src: url(fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family:Myriad-Pro-light;
    src: url(fonts/MyriadPro-Light.otf);
}

body{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
}

header{
    display: flex;
    flex-flow: column;
}

.logo_and_info{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.logo{
    width: 400px;
    height: 105px;  
}

.date{
    font-size: 15pt;
    font-family: 'Myriad-Pro-reg';
}

.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-bottom: 1px solid black;
}

.search{
    display: flex;
    margin-top: 5px;
}

.search_bt{
    height: 30px;
    width: 30px;
    margin-top: 12px;
    margin-right: -20px;
}

.menu_points{
    display: flex;
}

li{
    list-style-type: none;
    margin-right: 50px;
    font-size: 20pt;
    font-family: 'Myriad-Pro-reg';
}


a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:#FF3C3C;
}

.dropbtn{
    margin-top:-4px;
    cursor: pointer;
}

input{
    width: 200px;
    height: 30px;
    margin-top: 15px;
    margin-left: 30px;
}

.menu_content{
    display:none;
    border: 1px solid black;
    width: 200px;
    height: 450px;
    padding: 10px;
    position: absolute;
    top: 245px;
    right: 300px;
    background: white;
}

.extra_menu_item{
    margin-bottom: 20px;
}

.archive_content{
    display:none;
    border: 1px solid black;
    position: absolute;
    top: 245px;
    right: 395px;
    padding: 10px;
    background: white;
}

.archive_content_item{
    margin-bottom: 10px;
    font-family: "LetoSans-Thin";
    font-size: 17pt;
}

.archivebtn{
    cursor: pointer;
}

.content{
    display: flex;
    flex-flow: column;
}

.one-part{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

.slider{
    width:900px;
    height:300px;
    overflow: hidden;
}


.img-slider{
    width:900px;
    height:300px;
}

.slider-content{
    overflow: hidden;
    position: absolute;
    transition: opacity 1s;
}     

.slider-content:first-child{
    opacity: 1;
}   


.info-slider{
    background: black;
    position: absolute;
    height:300px;
    width: 280px;
    opacity: 0.6;
}

.title-slider{
    color: white;
    font-family:"LetoSans-Thin";
    font-size: 20pt;
    text-align: center;
}

.more-slider{
text-align: center;
    width: 270px;
    color: white;
    font-family:"LetoSans-Thin";
    font-size: 12pt;
    
}

.more-detalies{
    color: white;
    font-family:"LetoSans-Thin";
    font-size: 12pt;
    position: absolute;
    right: 30px;
    top:250px;
}


.qr{
    width:300px;
    height:300px;
}

.news-block{
    margin-top: 30px;
}

.news-title{
    font-family:"Myriad-Pro-reg";
    font-size: 25pt;
    text-align: center;
}

.news-content{
    display: flex;
}

.news{
    display: flex;
    flex-flow: column;  
    width: 830px;
    margin-top: 30px;
}

.news-1{
    display: flex;
}
.article{
    margin-right: 30px;
}

.article-img{
    width:400px;
    height:200px;
}
.section{
    font-family: "LetoSans-Thin";
    color: red;
    font-size: 14px;
}
.article-title{
    font-family: "Myriad-Pro-reg";
    color: black;
    font-size: 15pt;
}
.article-more{
    margin-left:280px;
    font-family: "Myriad-Pro-reg";
    font-size: 12pt;
}

.units{
    width: 400px;
    margin-left:70px;
}

.units-title{
    font-family: "Myriad-Pro-reg";
    font-size: 20pt;
    text-align: center;
}

.unit{
    border-top: 5px solid #F4F3F3;
}

.unit-title{
    font-family: "Myriad-Pro-reg";
    font-size: 16pt;
}


.footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
    padding-top: 30px;
    border-bottom: 3px solid #AEABAB;
    padding-bottom: 30px;
}

.footer_item{
    border-right: 3px solid #AEABAB;
    width: 300px;
    height: 200px;
}

.newspaper_item{
    font-family:"Myriad-Pro-light";
    font-size: 15pt;
}

.heading_item{
    font-family:"Myriad-Pro-light";
    font-size: 15pt;
}

h2{
    font-family: 'Myriad-Pro-reg';
}

.advertising_item{
    font-family:"Myriad-Pro-light";
    font-size: 15pt;
}

.contacts_item{
    font-family:"Myriad-Pro-light";
    font-size: 15pt;
}

.note{
    margin-top: 10px;
    font-family:"Myriad-Pro-light";
    font-size: 15pt;
    text-align: center;
}


